    <section>
		<div class="container">
			<div class="col-md-9 well-no-border">
				<section class="aboutUs">
	                <h2>Selamat Datang di Cloud Foundry</h2><hr></a>
	                <p>Cloud Foundry adalah sebuah Platform as Service (PaaS) Opensource yang dikembangkan oleh VMware dan bekerja sama dengan Apache License 2.0yang dibuat dalam Ruby. Ikuti grup kami di https://groups.google.com/forum/?fromgroups&hl=en#!forum/cloudfoundry-id.</p><br><br>
				</section>
			</div>
		</div>	
	</section>