<ng-include src="'views/main/slide.html'"></ng-include>
<br><br>
<section id="cloudfoundry" ng-include="'views/main/cloudfoundry.html'" class="cloudfoundry features-blue"></section>
<br><br>
<section id="architecture" ng-include="'views/main/architecture.html'" class="architecture features-blue">
</section>
<br><br>
<section id="vcap" ng-include="'views/main/vcap.html'" class="vcap features-blue"></section>
<br><br>
<section id="contact-us" ng-include="'views/main/contact-us.html'" class="user-group features-blue"></section>